<!-- <div layout="row" layout-sm="column" flex layout-wrap> -->

<div layout="row" pn-background-image="{{profilePicUrl}}" flex>
    <!-- <div flex="33" >
        <pn-profile-pic ng-show="profilePicExists"/>
        <pn-change-profile-pic-button ng-show="profilePicExists"/>
        <pn-upload-profile-pic-button ng-show="!profilePicExists" />
    </div> -->
    <div flex layout="column">
        <div layout="row">
            <!-- todo CREATE WTS BUTTOn!! -->
            <!-- <div flex="50" pn-create-post-button ng-click="menu('newWts')" label="'I want to sell'"></div> -->
            <!-- <div flex="50" pn-create-post-button ng-click="menu('newWtb')" label="'I want to buy'"></div> -->
        </div>
        <div ng-show="showWtsWizard">
            <pn-create-wts-wizard />
        </div>

        <div>
            <pn-my-posts-list ng-hide="showWtsWizard"/>
        </div>
    </div>

</div>
<!-- </div> -->
