<pn-nav loc="'me'" />
<!-- <div layout="row" layout-sm="column" flex layout-wrap>
<div layout="row" layout-wrap flex>
<div layout="column" flex="33">
<center><pn-product-type-filter-button ng-click="clearSearch()" type="'All'"></center>
<center><pn-product-type-filter-button ng-click="pnProductTypeFilterAction(type)" ng-repeat="type in types" type="type"></center>
</div>
<div flex ng-repeat="product in products | filter:search">
<pn-product-grid-item class="waves-effect" product="product">
</div>
</div>
</div> -->
<div layout="row" layout-sm="column" flex layout-wrap>
    <div layout="row" layout-wrap flex>
        <div layout="column" flex="33">
            <div class="pn-well pn-well-sm white" layout-col >
                <!-- <a>Add Profile Photo</a> -->

                <ul>
                    <li><center class=""><img class="profilePic" ng-src="{{profilePic}}"></center></li>
                    <li><profile-picture-upload userid="ubi" /></li>
                    <!-- <li><marv-image-upload userid="ubi"/></li> -->
                    <li>{{name}}</li>
                    <li>{{address2}}
                        {{city}}
                        {{state}}
                        {{zip}}
                    </li>
                    <li>{{licensetype}}</li>
                    <li>UBI: {{ubi}}</li>
                </ul>
            </div>


        </div>
        <div>
            <div class="pn-profile-create-new-listing-button waves-effect waves-green red" flex>
                <!-- class="btn-flat waves-effect waves-dark" -->
                <a ng-click="showCreateWts=!showCreateWts" class="btn-flat waves-effect waves-dark" layout="row" layout-align="center center">Create New Listing</i></a>

                <!-- <center><h5 class="waves-effect waves-dark" ng-click="showCreateWts=!showCreateWts">Create New Listing <i class="fa fa-plus-square"></i></h5></center> -->
                <div ng-show="showCreateWts" flex>
                    <!-- <h6>I am...</h6> -->
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="I Want to Sell">
                            <div class="">
                                <md-input-container class="md-block">
                                    <label>Barcode ID</label>
                                    <!-- 2412795294733202 -->
                                    <!-- 1234567891123456 sixteen-->
                                    <!-- <input  ng-model="newLTBinput"> -->
                                    <!-- {{ltsSuggestons}} -->
                                    <input ng-model="search" ng-change="inputChanged()" md-maxlength="16" rows="1" md-select-on-focus></input>
                                    <ul ng-show="showResults">
                                        <li ng-click="chooseWts(item)" ng-repeat="item in inventory | filter:search" md-highlight-text="search">
                                            {{item.id}}  {{item.strain}} {{item.productname}}
                                        </li>
                                    </ul>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Asking Price ($)</label>
                                    <input ng-model="wtsItem.price"  md-select-on-focus></input>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Description</label>
                                    <textarea ng-model="wtsItem.desc" md-maxlength="250" rows="2" md-select-on-focus></textarea>
                                </md-input-container>

                            </div>
                            <!-- New WTS Post Preview -->
                            <div ng-show="wtsItem">
                                Preview:
                                <wts-card  wts="wtsItem" />

                            </div>

                            <a ng-click="createWts()" class="btn-flat waves-effect waves-dark" layout="row" layout-align="center end">Create</i></a>
                        </md-tab>
                        <md-tab label="I Want to Buy">
                            <md-input-container class="md-block">
                                <label>What are you looking for?</label>
                                <!-- <input  ng-model="newLTBinput"> -->
                                <textarea ng-model="newLTBinput" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                            <a class="btn-flat waves-effect waves-dark" layout="row" layout-align="center end" ng-click="newWTB()">Create</i></a>

                        </md-tab>

                    </md-tabs>
                </div>

            </div>

            <div ng-repeat="w in mywtsids"  layout-col >
                <wts-card wts="wts[w]" />
            </div>

        </div>
    </div>
</div>
