
<div class="input-field col s6">
    <input type="text" id="search" ng-model="search">
    <label for="search"><i class="fa fa-search"></i> Search</label>
</div>
<md-content style="height: 100%;">
    <section ng-repeat="title in titles |filter:categorySearch track by $index">
        <md-subheader class="md-primary">{{title}}</md-subheader>
        <md-list layout-padding>
            <md-list-item
            ng-click="pnSelectItem(item)"
            ng-class="item.$selected ? 'md-3-line green darken-3 white-text' : 'md-3-line'"
            ng-repeat="item in groups[title]| filter:search">
            <!-- <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}"> -->
            <div class="md-list-item-text">
                <h3>{{item.id}}</h3>
                <h4>{{item.sessiontimelabel}}</h4>
                <p  ng-if="item.inventorytypeInfo.weighable">
                    {{item.remaining_quantity}} grams
                </p>
                <p  ng-if="!item.inventorytypeInfo.weighable">
                    {{item.remaining_quantity}} x {{item.usable_weight}} gram packages
                </p>
            </div>
        </md-list-item>
    </md-list>
</section>
</md-content>
<!-- <div ng-repeat="item in inventory">
{{item.sessiontimelabel}} {{item.strain}} - {{item.inventorytypelabel}}
</div> -->

<!-- <div ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill ng-cloak>
<md-toolbar md-scroll-shrink>
<div class="md-toolbar-tools">My Messages</div>
</md-toolbar>
<md-content style="height: 600px;" md-theme="altTheme">
<section>
<md-subheader class="md-primary">Unread Messages</md-subheader>
<md-list layout-padding>
<md-list-item class="md-3-line" ng-repeat="message in messages">
<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
<div class="md-list-item-text">
<h3>{{message.what}}</h3>
<h4>{{message.who}}</h4>
<p>
{{message.notes}}
</p>
</div>
</md-list-item>
</md-list>
</section>
<section>
<md-subheader class="md-warn">Late Messages</md-subheader>
<md-list layout="column" layout-padding>
<md-list-item class="md-3-line" ng-repeat="message in messages">
<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
<div class="md-list-item-text">
<h3>{{message.what}}</h3>
<h4>{{message.who}}</h4>
<p>
{{message.notes}}
</p>
</div>
</md-list-item>
</md-list>
</section>
<section>
<md-subheader>Read Messages</md-subheader>
<md-list layout="column" layout-padding>
<md-list-item class="md-3-line" ng-repeat="message in messages">
<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
<div class="md-list-item-text">
<h3>{{message.what}}</h3>
<h4>{{message.who}}</h4>
<p>
{{message.notes}}
</p>
</div>
</md-list-item>
</md-list>
</section>
<section>
<md-subheader class="md-accent">Archived messages</md-subheader>
<md-list layout="column" layout-padding>
<md-list-item class="md-3-line" ng-repeat="message in messages">
<img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
<div class="md-list-item-text">
<h3>{{message.what}}</h3>
<h4>{{message.who}}</h4>
<p>
{{message.notes}}
</p>
</div>
</md-list-item>
</md-list>
</section>
</md-content>
</div> -->
