<!-- <md-toolbar md-scroll-shrink> -->
<!-- <div class="md-toolbar-tools"> -->
    <!-- <button class="btn btn-flat white-text" ng-disabled="disabled.trace">Actions</button> -->
    <!-- <button class="btn btn-flat white-text" ng-disabled="disabled.qa">QA</button>
    <button class="btn btn-flat white-text" ng-disabled="disabled.publish">Publish</button> -->

    <!-- <md-tabs  md-selected="data.selectedIndex" flex md-dynamic-height md-border-bottom> -->

        <!-- <md-tab  label="Traceability">
            <div class="md-padding">

                <pn-trace-actions />

            </div>
        </md-tab> -->
        <!-- <md-tab class="white-text" label="Publish"> -->
            <div class="md-padding">
                <button class="btn btn-raised white-text" ng-disabled="disabled.publish" ng-click="publish()">Publish</button>
            </div>
        <!-- </md-tab> -->
        <!-- <md-tab  label="Upload Image">

        </md-tab> -->
        <!-- <md-tab  label="Description and Price">
            <md-content class="md-padding">

            </md-content>
        </md-tab> -->
    <!-- </md-tabs> -->
<!--  -->
<!-- </div> -->
<!-- </md-toolbar> -->
