<!-- <ul>

</ul>
<ul ng-show="item.qa.potency.Total">
    <li>Total THC: {{product.qa.potency.Total}}%</li>
    <li>CBD: {{product.qa.potency.CBD}}%</li>
    <li ng-if="item.qa.moisture.moisture">Moisture: {{product.qa.moisture.moisture}}%</li>
</ul> -->
<!-- <ul>
    <li layout-padding></li>
</ul>
<ul ng-show="item.qa.bacteria">
    <li>Aerobic Bacteria: {{product.qa.bacteria.aerobic_bacteria}}</li>
    <li>Bile Tolerant: {{product.qa.bacteria.bile_tolerant}}</li>
    <li>Coliforms: {{product.qa.bacteria.coliforms}}</li>
    <li>Tested By: <a>{{product.qa.lab_license}}</a></li>
</ul> -->

<div layout="row" layout-margin ng-if="product.qa.potency.Total">
    <div layout="column">
        <div class="pnProductGridItemInfoLabel">THC</div>
        <div class="pnProductGridItemTHC">
            {{product.qa.potency.Total}}%
        </div>
    </div>
    <div layout="column">
        <div class="pnProductGridItemInfoLabel">CBD</div>
        <div class="pnProductGridItemTHC">
            {{product.qa.potency.CBD}}%
        </div>
    </div>
    <div layout="column" ng-if="product.qa.moisture.moisture">
        <div class="pnProductGridItemInfoLabel">Moisture</div>
        <div class="pnProductGridItemTHC">
            {{product.qa.moisture.moisture}}%
        </div>
    </div>
</div>
<div layout="row" layout-margin ng-if="product.qa.bacteria">
    <div layout="column">
        <div class="pnProductGridItemInfoLabel">Aerobic Bacteria</div>
        <div class="pnProductGridItemTHC">
            {{product.qa.bacteria.aerobic_bacteria}}
        </div>
    </div>
    <div layout="column">
        <div class="pnProductGridItemInfoLabel">Bile Tolerant</div>
        <div class="pnProductGridItemTHC">
            {{product.qa.bacteria.bile_tolerant}}
        </div>
    </div>
    <div layout="column">
        <div class="pnProductGridItemInfoLabel">Coliforms</div>
        <div class="pnProductGridItemTHC">
            {{product.qa.bacteria.coliforms}}
        </div>
    </div>
</div>
