<div layout-padding flex  ng-repeat="product in products | filter:search">
    <div class="width100" layout="row">
        <div class="pnGreyGreen pnText" flex>
        <!-- <div class="pnGreyGreen pnText" ng-click="toProduct(product)" flex> -->
            <div layout-padding class="pnProductGridItemStrain" flex>
                <span>{{product.sellerName}}</span>
                <span flex></span>
                <span>{{product.sellerPhone | tel}}</span>
            </div>
            <pn-product-grid-item  class="" product="product" />
            <img class="pnInvThumb" ng-src="{{product.image}}">

        </div>
    </div>
</div>
