<div class="pn-well pn-well-sm pn-product-detail-transparent-card width100" >
    <div layout="column" >
        <div layout="column">
            <div>
                <div ng-if="product.sellerInfo.name" class="pn-product-grid-seller-info">
                    {{product.sellerInfo.name}} <span ng-if="product.sellerInfo.license">({{product.sellerInfo.license}})
                </div>
                <div class="pnProductGridItemStrain">{{product.strain}}</div>
                <div class="pn-product-grid-seller-info">{{product.inventorytypeInfo.label}}</div>

            </div>

            <div class="pnProductGridItemPriceWeight" ng-if="product.inventorytypeInfo.weighable">
                {{product.remaining_quantity}} grams <span ng-show="product.price">for ${{product.price}}</span>

            </div>
            <div class="pnProductGridItemPriceWeight" ng-if="!product.inventorytypeInfo.weighable">
                {{product.remaining_quantity}} x {{product.usable_weight}} gram packages for <span ng-show="product.price">${{product.price}}</span>

            </div>
            <div class="pnProductGridItemPriceWeight">
                {{product.id}}
            </div>
            <div ng-if="product.sellerInfo.name" class="pnProductGridItemPriceWeight">
                {{product.timeLabel}}
            </div>
            <div ng-if="!product.sellerInfo.name" class="pnProductGridItemPriceWeight">
                {{product.sessiontimelabel}}
            </div>

        </div>
        <div class="">
            <pn-detail-product-detail product="product" />
        </div>
        <!-- <div  layout-padding ng-if="!product.qa.potency.Total">
        Not QA Tested
    </div> -->
    <!-- </div> -->
</div>
<!-- <div class="">
heello
</div> -->
</div>
