
<div class="">

    <md-toolbar >
        <div class="md-toolbar-tools green darken-3">
            <div class="pnProductGridItemStrain">
                {{myName}}
            </div>
            <!-- <span flex="20">
            <div ng-show="labDetail" class="waves-effect" ng-click="back()"><i class="fa fa-angle-left fa-2x"></i></div>
        </span> -->
        <!-- <div><h1 class="cursive" ng-click="goTo('market')">greenboard</h1></div> -->

        <!-- <md-menu>

            <div aria-label="Open Settings Menu"  ng-click="$mdOpenMenu($event)">
                <i class="fa fa-gear "></i>

            </div>
            <md-menu-content width="6">
                <md-menu-item>
                  <md-button ng-click="goTo('/settings')" ng-click="pnToSettings()">
                    <i class="fa fa-gear"></i> Settings
                  </md-button>
                </md-menu-item>
              <md-menu-item>
                <md-button ng-click="goTo('/')">
                  <i class="fa fa-sign-out"></i> Sign Out
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu> -->
        <span flex></span>


        <div layout-padding></div>
        <!-- <div aria-label="home" ng-click="goTo('home')">
            <div class="pnProductGridItemStrain">
                {{myName}}
            </div>
        </div> -->
        <div layout-padding></div>

    <div aria-label="traceability" ng-click="goTo('traceability')"><i class="fa fa-pencil-square-o fa-2x"></i></div>
    <!-- <div aria-label="market" ng-click="goTo('market')"><i class="fa fa-globe fa-2x"></i></div> -->

        <!-- <button class="btn btn-flat white-text" aria-label="labs" ng-click="goTo('labs')"><i class="fa fa-tasks fa-2x"></i></button> -->
        <!-- <button class="btn btn-flat white-text" aria-label="market" ng-click="goTo('market')"><i class="fa fa-line-chart fa-2x"></i></button> -->
    </md-toolbar>
</div>
<div layout-padding class="green darken-3">
</div>
