<div class="pnNavbar z-depth-1 pn-stuck-to-top" layout-padding flex>
    <div>
        <div ng-show="market"  layout="row" layout-align="end center">
            <a  class="btn btn-primary   waves-effect waves-light" ng-click="goTo('home')"><i class="fa fa-line-chart"></i></a> &nbsp;
            <a  class="btn btn-raised   waves-effect waves-light" ng-click="goTo('market')"><i class="fa fa-globe"></i></a> &nbsp;
            <!-- <button class="btn  waves-effect waves-light" ng-click="signIn()"><i class="fa fa-globe"></i></button> &nbsp; -->
            <a  class="btn btn-primary   waves-effect waves-light" ng-click="goTo('cart')"><i class="fa fa-shopping-cart"></i></a> &nbsp;
        </div>
        <div ng-show="me"  layout="row" layout-align="end center">
            <a  class="btn btn-raised   waves-effect waves-light" ng-click="goTo('home')"><i class="fa fa-line-chart"></i></a> &nbsp;
            <a  class="btn btn-primary   waves-effect waves-light" ng-click="goTo('market')"><i class="fa fa-globe"></i></a> &nbsp;
            <!-- <button class="btn  waves-effect waves-light" ng-click="signIn()"><i class="fa fa-globe"></i></button> &nbsp; -->
            <a  class="btn btn-primary   waves-effect waves-light" ng-click="goTo('cart')"><i class="fa fa-shopping-cart"></i></a> &nbsp;
        </div>
        <div ng-show="product" layout="row" flex>
            <div layout="row" layout-align="start center" flex="15">
                <a ng-click="goTo('market')"><i class="fa fa-chevron-left fa-2x"></i></a>
            </div>
            <div flex>

            </div>
            <div layout="row" layout-align="end center" flex>
                <a  class="btn btn-primary   waves-effect waves-light" ng-click="goTo('home')"><i class="fa fa-line-chart"></i></a> &nbsp;
                <a  class="btn btn-raised   waves-effect waves-light" ng-click="goTo('market')"><i class="fa fa-globe"></i></a> &nbsp;
                <!-- <button class="btn  waves-effect waves-light" ng-click="signIn()"><i class="fa fa-globe"></i></button> &nbsp; -->
                <a  class="btn btn-primary   waves-effect waves-light" ng-click="goTo('cart')"><i class="fa fa-shopping-cart"></i></a> &nbsp;
        </div>


        </div>
        <!-- <div ng-show="me">
            ME NAV
        </div> -->
        <!-- <div ng-repeat="link in links">
            <a ng-click="goTo(link.value)">{{link.name}}</a>
        </div> -->
    </div>


</div>
<div class="pn-nav-height-filler"></div>
