<div class="">
    <!-- <button ng-click="toAction('adjust-weight')" class="btn btn-flat" ng-disabled="!numSelected > 0">Adjust Weight</button> -->
    <button ng-click="toAction('create-manifest')" class="btn btn-flat" ng-disabled="!numSelected > 0">Manifest</button>
    <button ng-click="toAction('transfer-outbound')" class="btn btn-flat" ng-disabled="numSelected > 0">Transfer</button>
    <button ng-click="toAction('receive-inbound')" class="btn btn-flat" ng-disabled="numSelected > 0">Receive</button>
</div>
<!-- <button class="btn btn-flat white-text" ng-disabled="disabled.publish">Execute Manifest</button> -->
