<pn-nav />
<center>
    <div class="container">

        Settings Coming Soon 
        <!-- <h1 class="cursive">Greenboard</h1>

        <div class="">
            <h2 class="warning">{{error}}</h2>
        </div>
        <div >
            <div class="input-field col s6">
                <input type="text" id="username" ng-model="email">
                <label for="username">Email</label>
            </div>
            <div class="input-field col s6">
                <input type="password" id="password" ng-model="password">
                <label for="password">Password</label>
            </div>
            <div class="input-field col s6">
                <input type="password" id="ubi" ng-model="ubi">
                <label for="ubi">UBI</label>
            </div>
            <div class=""><button ng-click="go()">Sign In</button></div>

        </div> -->


    </div>

</center>
