.pnInvThumb {
    height: auto;
    width:100%;
    /*border-radius: 50%;*/

}
.pnPublishImagePreview {
    height: 250;
    width:auto;
}
.pn-transparent {
    background: rgba(255, 255, 255, 0);
}

.pn-landing-card {
    background: rgba(0, 0, 0, 0.8);
}
.pn-page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 21px;
}
.pn-product-grid-seller-info {
    /*@include: vertical-align();*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}
.pn-text-18: {
    /*@include: vertical-align();*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.pn-text-20: {
    /*@include: vertical-align();*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.pn-add-to-cart-product-detail-button-text: {
    /*@include: vertical-align();*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.pn-add-to-cart-product-detail-button: {
    /*@include: vertical-align();*/
    height:70px;
    line-height: 70px;
}
.pn-price-desc-product-detail-text-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.height70 {
    height: 70px;
}
.height0 {
    max-height: 20px;
    /*padding-bottom: 100%;*/
}
.height100 {
    height: 100%;
    /*padding-bottom: 100%;*/
}
.pn-product-detail-transparent-card {
    background: rgba(255, 255, 255, 0.8);
}
.pn-add-to-card-product-detail-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.pn-product-detail-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    /*line-height: 70px;*/
}
.pn-image-product-detail {
    height: auto;
    max-width: 100%
}
.pnHeight140 {
    height: auto;
    max-width: 100%
}
.pn-next-button-create-wts-wizard {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 70px;
    /*height:70;*/
    /*z-index: 10000;*/

    /*color: white;*/

}
.pnImageStretch {
    max-width: 100%;
    max-height: 100%;
}
.width33 {
    width: 100%;
}
.width100 {
    width: 100%;
}
.pn-search-product-select-create-wts-wizard {
    width: 100%;
}
.pn-item-product-select-create-wts-wizard {
    width: 100%;
}
.pnProfilePic {
    width: 100%;
}
/*.pn-vertical-center {
    background: blue;
    vertical-align: middle;;
}*/
.pn-nav-height-filler {
    height: 70px;
}
.pn-stuck-to-top {
    position:fixed;
   top:0;
   width:100%;
   z-index:100
}
.pn-product-type-filter-button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    /*line-height: 70;*/
    /*height:70;*/
    /*z-index: 10000;*/

    /*color: white;*/

}
.pnGreyGreen {
    background-color: #99cc99;
}
.mcGreen1 {
    background-color: #46913e;
}
.mcGreen2 {
    background-color: #6bc65f;
}
.mcGreen3 {
    background-color: #44ac36;
}
.mcGreen4 {
    background-color: #4d9a48;
}
.mcGreen4 {
    background-color: #8bd681;
}

.pn-well {
  min-height: 20px;
  padding: 19px;
  /*margin-bottom: 20px;*/
  /*background-color: #FFFFFF;*/
  /*border: 1px solid #e3e3e3;*/
  /*border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.pn-well-sm {
  padding: 9px;
  border-radius: 0px;
}
.pn-create-post-button {
    height: 70px;
    /*min-width: 90px;*/
    width:100%;
}
.pn-product-type-filter-button {
    height: 70px;
    /*min-width: 90px;*/
    width:100%;
}
.pnNavbar {
    height: 70px;
    width: 100%;
    background: #173018;
}

.pnProductGridItemImage {
    width: 100%;
}
.pnProductGridItem {
    font-family: 'Roboto', sans-serif;
    min-width: 250px;
    /*border-style: solid;*/
    /*border-width:0.5px;*/
}
/*.pnProductGridItemWeight{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}*/
.pnProductGridItemInfoLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
}
.pnInventoryTypeLabel {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.pnProductGridItemPriceWeight {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.pnProductGridItemStrain {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.marvAuthorThumb{
    width:70px; /* you can use % */
    height: auto;
}
.profilePic{
    width:100%; /* you can use % */
    height: auto;
}
.marvCardImage{
    width:100%; /* you can use % */
    height: auto;
}

.angular-center-container { position: fixed; top:0; left:0; height:100%; width:100%; display:table; pointer-events: none; z-index:9999; } .angular-centered { display: table-cell; vertical-align: middle; text-align: center; }

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

/*a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}*/

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    /*margin-bottom: 20px;*/
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #9c27b0;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}



header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    /*background-image: url('https://splashbase.s3.amazonaws.com/lifeofpix/regular/Life-of-Pix-free-stock-photos-Slate-Stone-Xeromatic-1440x953.jpg');*/
    background-image: url('http://i.imgur.com/CYwfAo3.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}

footer {
    background-color:#2d2d2d;
}

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #eee;
    background-color: #36333d;
    background-image: none;
    border: 1px solid #36333d;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.gallery-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    overflow:hidden;
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}

.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.repeater-container{
    height: 100%;
    overflow: auto;
    /*box-shadow: 0 0 10px;*/
    /*border-radius: 5px;*/
    -webkit-overflow-scrolling: touch;
}
.enclosing-ng-repeat .repeater-container{
height: 216px;
}
.enclosing-ng-repeat .repeater-container:first-child{
margin-bottom: 20px;
}
.ranges-inner-wrapper{
padding: 10px 20px;
width: 100%;
}
.repeater-container.ranges{
height: 345px;
margin-top: 20px;
background: hsl(60, 100%, 90%);
}
.repeater-container.horizontal {
white-space: nowrap;
}
.repeater-container.horizontal > * {
display: inline-block;
position: relative;
top: -100%;
margin-top: 35px;
}
.repeater-container.horizontal .item-element{
width: 50px;
height: 100%;
}
.repeater-container.horizontal.combined{
height: 145px;
}
.repeater-container.horizontal.combined .item-element{
width: 70px;
text-align: center;
}
.third-array-ng-repeat{
padding: 10px 20px;
}
.item-element{
-webkit-transition: background-color 0.3s ease;
-moz-transition: background-color 0.3s ease;
-ms-transition: background-color 0.3s ease;
-o-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}
/*.item-element:hover{
background-color: hsla(180, 100%, 50%, 0.3);
}*/
tr.item-element {
height: 30px;
}
tr.item-element td {
padding: 0 20px;
}
#dom-preview-container pre{
max-height: 500px;
overflow: auto;
font-size: 11px;
}
.repeater-container .item-element{
margin: 0 !important;
width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
.array-switch-form{
width: 400px;
margin-top: 20px;
}
pre > code > span{
display: block;
}
pre{
padding-top: 0;
padding-bottom: 0;
}
ul.nav > li{
cursor: pointer;
}
li.imp a{
color: crimson;
font-weight: bold;
}
li.imp.active a{
color: hsl(0, 100%, 35%);
font-weight: bold;
}
/*li.imp a:hover{
color: hsl(0, 100%, 45%);
}
li.imp.active a:hover{
color: hsl(0, 100%, 35%);
}*/
li.imp2 a{
color: magenta;
font-weight: bold;
}
li.imp2.active a{
color: magenta;
font-weight: bold;
}
/*li.imp2 a:hover{
color: magenta;
}
li.imp2.active a:hover{
color: magenta;
}*/
.perf-container{
overflow: auto;
max-height: 300px;
min-height: 50px;
background-color: hsla(210, 75%, 50%, 0.2);
}
.perf-elem{
padding: 10px 15px;
border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
width: 100%;
box-sizing: border-box;
}
.perf-elem small{
letter-spacing: 5px;
color: hsla(0, 0%, 0%, 0.5);
}
.perf-summary{
padding: 10px 0;
font-size: 18px;
}
.danger{
color: crimson;
}
.success{
color: hsl(160, 100%, 35%);
}
.tab-1 label{
cursor: pointer;
font-size: 16px;
padding: 10px 0;
}
.tab-1 label span{
margin-left: 5px;
}
.tab-1 small{
color: hsl(0, 0%, 60%);
}
