<md-toolbar ng-if="error">
    <div class="md-toolbar-tools">
        {{error}}
    </div>
</md-toolbar>




<header id="first">
    <div class="header-content">
        <div class="inner container">
            <h1 class="cursive">greenboard</h1>
            <!-- <h5 class="">Please </h5> -->
            <div >
                <input type="text" id="username" ng-model="form.username">
                <label for="username">USERNAME</label>
            </div>
            <div >
                <input type="password" style="-webkit-text-security: square;" id="password" ng-model="form.password">
                <label for="password">PASSWORD</label>
            </div>
            <div >
                <input type="password" style="-webkit-text-security: square;" id="ubi" ng-model="form.license_number">
                <label for="ubi">UBI</label>
            </div>
            <!-- <a class="waves-effect waves-light btn-large light-green darken-4" ng-click="signIn()">SIGN IN</a> -->
            <!-- <a  class="btn btn-primary btn-xl waves-effect waves-light" ng-click="signIn()">Sign In</a> &nbsp; -->
            <a  class="btn btn-primary btn-xl waves-effect waves-light" ng-click="signIn()">Demo</a> &nbsp;
            <p >
                <!-- <br>
            Don't have an account?
            <br>
            <a  class="btn btn-primary btn-xl waves-effect green darken-3 waves-light" ng-click="signUp()">Sign Up</a> &nbsp;
            </p > -->
        </div>
    </div>
    <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
        <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
</header>
<!-- <section class="bg-primary" id="signin">

</div> -->
