<!-- Photo
Price
Pay
Preview
Publish -->

<!--

    Photo: upload button

    Price: Validation form. Dollar sign included

    Pay: $5 per listing. Pay with Amazon.

    Publish: Add description. Publish button updates Firebase

 -->
<!-- Implement Firebase WTS publish capability -->
<!-- Implement login and pay with Amazon  -->
<div ng-repeat="item in selectedItems" class="pn-well pn-well-sm">
    <div  >
        <img class="pnPublishImagePreview" ng-show="item.image" ng-src="{{item.image}}">
    </div>
    <div><h3>{{item.strain}} - {{item.inventorytypelabel}}</h3></div>
    <div>{{item.id}}</div>
    <div>{{item.pnQuantitiyLabel}}</div>
    <br/>
    <pn-price-desc-publish />

    <pn-upload-item-image />
    <pn-publish-submit-button />
</div>
