<!-- <pn-nav /> -->
<pn-path-nav />
<!-- <div class="container">

</div> -->

    <!-- <pn-inventory-convert ng-if="inventory_convert" /> -->
    <!-- {{pnFormlyModel}} -->
    <!-- <div ng-if="inventory_convert"> -->
        <!-- <div class="container"> -->

        <!-- <center> -->
            <form ng-submit="onSubmit($event)" name="inputform" novalidate>
                <formly-form model="pnFormlyModel" fields="pnFormlyFields" options="pnFormlyOptions" form="inputform">
                    <div class="md-padding">
                        <center><button flex type="submit" class="btn btn-raised green darken-3" ng-disabled="inputform.$invalid">Submit</button></center>
                    </div>
                </formly-form>
            </form>

            {{ pnFormlyModel | json }}
            <!-- {{ pnFormlyFields | json }} -->
        <!-- </center> -->

    <!-- </div> -->

    <!-- <pn-view-inventory /> -->
    <!-- <pn-view-inventory /> -->


<!-- </div> -->
